.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 10px 0;
  padding: 0;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0;
  background-color: #607D8B;
  height: 32px;
  line-height: 32px;
  position: relative;
  left: 1px;
  top: -1px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 30px;
}
button.delete {
  background-color: gray !important;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  padding: 0;
}